---
import HumbleAnimation from './HumbleAnimation.astro'

const { heading, animation, callback, style, className, code, id } = Astro.props
---

<HumbleAnimation
  animation={animation}
  style={style}
  callback={callback}>
  <div
    id={id}
    class={`card py-8 px-8 flex flex-col space-y-20 justify-between items-start rounded-lg bg-slate-800 transition-all duration-300 ${className ? className : ''}`}>
    <h3 class="text-2xl text-center">{heading}</h3>
    {
      code ? (
        <code class="bg-slate-900 py-3 px-4 rounded-md flex text-sm font-mono">
          <span class="text-blue-300 flex whitespace-nowrap">data-hs</span>
          <span class="text-blue-400 flex">=</span>
          <span class="text-purple-400 flex">"{animation}"</span>
        </code>
      ) : (
        ''
      )
    }

    <slot />
  </div>
</HumbleAnimation>
